.grid {
    grid-template-rows: 40% 10% 30% 30% 30% 15%;
    grid-template-columns: 24% 24% 24% 24%;
    display: grid;
    grid-template-areas: 
    'hed hed hed hed'
    'nav nav nav nav'
    'it1 it2 it3 it4'
    'it5 it6 it7 it8'
    'it9 i10 i11 i12'
    'fot fot fot fot';
    gap: 10px;
    justify-content: center;
    align-content: space-evenly;
    height: 170vh;
}

.wrapper  {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3D4D61;
    margin: 0;
}

#itemgrid {
    grid-template-rows: 70% 30%;
    display: grid;
    grid-template-areas:
    'img'
    'txt';
    justify-content: center;
    align-content: space-evenly;
}

.header {
grid-area: hed;
background-color: #2B3036;
left: 0;
right: 0;
}

.nav {
grid-area: nav;
background-color: #2B3036;
}

.footer {
grid-area: fot;
background-color: #2B3036;
}

.it1 {
grid-area: it1;
}
.it2 {
    grid-area: it2;
}

.it3 {
    grid-area: it3;
}

.it4 {
    grid-area: it4;
}

.it5 {
    grid-area: it5;
}

.it6 {
    grid-area: it6;
}

.it7 {
    grid-area: it7;
}

.it8 {
    grid-area: it8;
}

.it9 {
    grid-area: it9;
}

.i10 {
    grid-area: i10;
}

.i11 {
    grid-area: i11;
}

.i12 {
    grid-area: i12;
}

.txt {
    grid-area: txt;
}

section.img img {
    grid-area: img;
    height:100%;
}