@media screen and (max-width:700px){
    
    

}


.grid {
    grid-template-rows: 24.75vh 16.5vh 30vh 30vh 30vh 24.75vh;
    grid-template-columns: 24.75vw 24.75vw 24.75vw 24.75vw;
    display: grid;
    grid-template-areas:
        'hed hed hed hed'
        'nav nav nav nav'
        'it1 it2 it3 it4'
        'it5 it6 it7 it8'
        'it9 i10 i11 i12'
        'fot fot fot fot';
    gap: 10px;
    justify-content: center;
    align-content: space-evenly;
    height: 170vh;
}


.image {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-size: 50px;
    background-color:#3D4D61 ;

}

a {
    color: inherit;
    text-decoration: none;
}

#itemgrid {
    grid-template-rows: 70% 30%;
    display: grid;
    grid-template-areas:
        'img'
        'txt';
    justify-content: center;
    align-content: space-evenly;
}

.hed {
    grid-area: hed;
    border: solid;
    background-color: #2E3946;
}

.nav {
    grid-area: nav;
    border: solid;
    text-align: center;
    padding: 40px;
    background-color: #2E3946;
}

.fot {
    grid-area: fot;
    border: solid;
    background-color: #2E3946;
    width: 100vw;
}

.it1 {
    grid-area: it1;
}

.it2 {
    grid-area: it2;
}

.it3 {
    grid-area: it3;
}

.it4 {
    grid-area: it4;
}

.it5 {
    grid-area: it5;
}

.it6 {
    grid-area: it6;
}

.it7 {
    grid-area: it7;
}

.it8 {
    grid-area: it8;
}

.it9 {
    grid-area: it9;
}

.i10 {
    grid-area: i10;
}

.i11 {
    grid-area: i11;
}

.i12 {
    grid-area: i12;
}

.txt {
    grid-area: txt;
}

section.img img {
    grid-area: img;
    height: 100%;
    border: solid;
}