.grid {
    grid-template-rows: 22.5vh 15vh 90vh 22.5vh;
    grid-template-columns: 99vw;
    display: grid;
    grid-template-areas: 
    'hed'
    'nav'
    'sec'
    'fot';
    gap: 10px;
    justify-content: center;
    align-content: space-evenly;

    height: 152vh;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-size: 50px;
    background-color:#3D4D61 ;

}

a {
    color: inherit;
    text-decoration: none;
}

.shopbutton {
    background-color: white;
    font-size: 30px;
}

.h1 {
    color: white;
}


.image {
    height: 100%; 
}

.hed {
grid-area: hed;
border: solid;
background-color: #2E3946;
}

.nav {
grid-area: nav;
border: solid;
text-align: center;
padding: 40px;
background-color: #2E3946;
}

.sec {
grid-area: sec;
border: solid;
background-image: url(../img/delaney-van-MvCW2PE9Tbg-unsplash.jpg);
background-size: 100%;
padding: 300px;
}

.fot {
grid-area: fot;
border: solid;
background-color: #2E3946;
width: 100vw;
}
